.home {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.home-title {
    font-size: 80px;
    margin: 5px auto 5px auto;
}

.browse_button {
    background-color: #0a0d13;
    width: 200px;
    height: 50px;
    margin: 5px auto 5px auto;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}

.browse_button:hover {
    transform: scale(1.05);
}