.navbar {
    background-color: #0a0d13;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.navbar-brand {
    margin: 0;
    padding: 10px;
}

.navbar_link {
    background-color: #1b212c;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    margin: auto 0 auto 0;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
}

.navbar_link:hover {
    transform: scale(1.05);
}